@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap"); 

:root {
  --font-family-headings: "Quicksand", sans-serif;
  --font-family-body: "Work Sans", sans-serif;
  --font-family-monospace: "Ubuntu Mono", "Courier New", monospace;
  --font-size-1: clamp(1.7578125rem, 1.3097rem + 1.3787vw, 2.34375rem);
  --font-size-2: clamp(1.40625rem, 1.0478rem + 1.1029vw, 1.875rem);
  --font-size-3: clamp(1.23046875rem, 0.9168rem + 0.9651vw, 1.640625rem);
  --font-size-4: clamp(1.125rem, 0.9099rem + 0.6618vw, 1.40625rem);
  --font-size-5: clamp(0.9375rem, 0.7583rem + 0.5515vw, 1.1718756rem);
  --font-size-6: clamp(0.84375rem, 0.7721rem + 0.2206vw, 0.9375rem);
  --font-size-body: clamp(0.9rem, 0.8235rem + 0.2353vw, 1rem);
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  margin-bottom: 0.8rem;
  font-weight: 400;
  line-height: 1.2;
}
.h1,
h1 {
  font-size: var(--font-size-1);
}
.h2,
h2 {
  font-size: var(--font-size-2);
}
.h3,
h3 {
  font-size: var(--font-size-3);
}
.h4,
h4 {
  font-size: var(--font-size-4);
}
.h5,
h5 {
  font-size: var(--font-size-5);
}
.h6,
h6 {
  font-size: var(--font-size-6);
}
.p,
p {
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
}
slide-heading {
  font-family: var(--font-family-headings);
  margin-bottom: 0.8rem;
  font-weight: 400;
  line-height: 1.2;
  font-size: var(--font-size-2);
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}